<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/output.css" />

    <!-- poppins font started -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- poppins font ended -->
    <!-- alpine script started -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <!-- alpine script ended -->
    <!-- flowbite cdn started -->
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <!-- flowbite cdn ended -->
  </head>

  <!-- x-data="{returnOpen: false}" -->
  <body
    x-data="index"
    :class="{'overflow-hidden': returnOpen}"
    class="min-h-screen font-[Poppins] relative"
  >
    <%- include('../user/partials/organisms/navbar.ejs') %>

    <main id="content" class="pt-28"><%- body %></main>

    <%- include('../user/partials/organisms/footer.ejs') %>

    <!-- return modal -->
    <%- include("../user/partials/molecules/returnModal.ejs") %>

    <!-- cancel modal -->
    <%- include("../user/partials/organisms/modals/cancelModal.ejs") %>

    <script src="/javascript/alpine/user/index.js"></script>

    <!-- ============================ plugins ================================== -->
    <!-- razorpay plugin -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <!-- lotti plugin  -->
    <script
      src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
      type="module"
    ></script>

    <!-- flowbite plugin -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

    <!-- ============================ plugins ended ================================== -->
  </body>
</html>
